@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.profile {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;
  color: $white;

  .profile-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .profile-left {
      display: grid;
      grid-template-rows: 1fr 2fr;
      border-right: 0.15rem solid $white;
      .profile-left-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        border-bottom: 0.15rem solid $white;


        .profile-picture {
          width: 8rem;
          height: 8rem;
          border-radius: 20%;
          margin: 1.5rem;
        }

        .profile-name {
          margin: 0;
          font-size: 1.5rem;
        }

        .profile-edit-btn {
          display: block;
          margin-top: 0.5rem;
          background-color: $lightblue;
          color: $white;
          padding: 0.5rem 1rem;
          text-align: center;
          border-radius: 0.3rem;
        }
      }
      
      .profile-left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
    }
    
    .profile-right {
      display: grid;
      grid-template-rows: 1fr 9fr;

      .profile-right-header {
        margin: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }
}

