@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.profile {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;
  color: $white;

  .profile-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;

    .profile-left {
      grid-column: 1;
      border-right: 0.15rem solid $white;

      .profile-left-top {
        margin-bottom: 1rem;
        border-bottom: 0.15rem solid $white;

        .profile-left-top-info {
          display: flex;
          align-items: center;
          justify-content: center;
          
          .profile-left-top-info-picture {

            .profile-picture {
              width: 8rem;
              height: 8rem;
              border-radius: 20%;
              margin: 1.5rem;
              border: 2px solid $white;
            }
          }

          .profile-left-top-info-name {
            .profile-name {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 3rem;
            }

            .button-link {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .profile-left-top-player-caract {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin: 1.5rem;
          
          .container{
            height: 100%;
            width: 100%;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
          
            .title{
              text-align: center;
            }
          
            &:first-of-type{
          
              background-color: none;
          
              .rail{ stroke: $periwinkie; }

              .progress{ stroke: $turquoise; }
          
              .icon{ color: $turquoise; }
          
            }
          
            &:nth-of-type(2){
          
              background-color: none;
          
              .rail{ stroke: $peach; }

              .progress{ stroke: $purple; }
          
              .icon{ color: $purple; }
          
            }
          
            &:nth-of-type(3){
          
              background-color: none;
          
              .rail{ stroke: $lemondrop; }

              .progress{ stroke: $golden; }
          
              .icon{ color: $golden; }
          
            }
          
          }
          
          .gauge-container{
          
            display: inline-block;
            position: relative;
            width: 70%;
          
            .gauge{
          
              position: relative;
              display: block;
              
              circle{ stroke-width: 15; }
          
              .rail{ fill: transparent; }
          
              .progress{
          
                fill: transparent;
                stroke-linecap: round;
                transform-origin: center center;
                transform: rotate(-90deg);

              }
          
            }
          
            .center{
          
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 300;
              
              &.percentage{ font-size: 1.5em; }
              
              &.icon{ font-size: 1.5em; }
          
              .percentSymbol{ font-size: 1em; }
              
              .value{ font-size: 1em; }
          
            }
          
          
          }
          
        }
      }
      
      .profile-left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        h2 {
          margin: 1rem;
          margin-bottom: 3rem;
        }

        .profile-left-bottom-caract {
          display: flex;
          justify-content: space-between;
          width: 60%;
          padding: 1.7rem;

          .discipline {
            color: purple;
          }
          .ingenuity {
            color: orange;
          }
          .willpower {
            color: rgb(120, 120, 120);
          }
          .concentration {
            color: rgb(12, 12, 205);
          }
          .guile {
            color: red;
          }
          .dexterity {
            color: green;
          }
          
          p {
            display: inline-flex;
            svg {
              margin-right: 1rem;
            }
          }
        }
      }

    }
    
    .profile-right {
      grid-column: 2;

      .profile-right-header {
        margin: 1.5rem;
        font-size: 1.5rem;
      }

      .profile-right-cards {

        .profile-right-card {
          border: 0.15rem solid $white;
          margin: 1.5rem;
          padding: 1.5rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

