@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%22");


.prehome-background-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.story-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  
  .story-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    
    .story-title {
      display: flex;
      justify-content: center;
      

      h1 {
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        color: rgb(174,228,237);
        
      }
    }

    .story-plot {
      p {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        color: rgb(174,228,237);
      }
    }

    
    button {
      background-color: rgb(60,51,154);
      border: none;
      border-radius: 5px;
      color: rgb(238,238,238);
      font-size: 1.2rem;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    
  
      &:hover {
        background-color: #f44336;
      }
      
    }
  }
}

.prehome {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .prehome-content {
    text-align: center;
    color: #fff;
    margin-top: 36rem;
  }
}




  
  
  