.door {
  .door-code-img {
    background-size: 120vmax;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
  }

  .door-screen {
    display: flex;
    margin: 150px 50px;

    .special-center {
      flex: 4;
      flex-direction: column;
      border: 2px solid black;
      border-radius: 20px;
      margin: 0 -80px;
      padding: 10px 20px;
      background-color: rgb(255, 255, 255, 0.9);

      .door-script {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 80px;

        input {
          width: 98.7%;
          height: 60px;
          text-align: center;
          font-size: 30px;
        }

        button {
          height: 60px;
        }
      }
    }

    .special-buttons {
      flex: 4;
      flex-direction: column;

      .buttons-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
        width: 10px;
        padding: 0 350px;
        margin: 10px auto;
      }

      .buttons-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
        width: 10px;
        padding: 0 350px;
        margin: 10px auto;
      }
    }
  }
}
