@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.register {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;

  .register-wrapper {  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6rem;

    .register-form {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      input {
        background: $black;
        color: $white;
        width: 80%;
        border: 1px solid $white;
        border-radius: 0.5rem;
        font-size: 2rem;
        padding: 0.8rem;
        margin: 0.8rem;
      }

      .rgpd {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
        input {
          flex: 1;
          margin: -2rem;
          cursor: pointer;
          text-align:right;
        }
        
        small {
          flex: 4;
          text-align: justify;
          text-justify: inter-word;
          color: white;
          margin: 1rem;
        }
      }      
    }

    .register-side {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        border-radius: 4.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
