@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.login {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;

  .login-wrapper {  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6rem;

    .login-form {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    
      input {
        background: $white;
        color: $black;
        width: 100%;
        border: 0.05rem solid $white;
        border-radius: 0.5rem;
        font-size: 2rem;
        padding: 0.8rem;
        margin: 0.8rem;
      }
    }

    .login-side {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 80%;
        border-radius: 4.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}