.map {
  background-color: black;
  height: 240vmax;  
  width: 240vmax;
  margin: -1rem;
  padding: 3rem;
  overflow: hidden;
  color: white;

  .enigmas {
    height: 200vmax;
    width: 200vmax;  
    position: absolute;
  }
}