@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.sidebar {
  margin: 2rem;
  top: 50%;
  left: 0;
  position: fixed;
  transform: translateY(-50%);

  .sidebar-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .sidebar-item {
      display: flex;
      align-items: center;
      flex-direction: row;
      text-align: center;
      padding: 1rem;
      
      a {
        color: $white;
      }

      svg {
        font-size: 4rem;
      }
      
      &:hover {
        svg {
          transform: scale(1.2);
          color: $yellow;
        }
      }
    }
  }
}