.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem;
  top: 30%;
  left: 0;
  position: fixed;
    
  .sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 1rem;

    a {
      color: white;
    }

    svg {
      font-size: 3.5rem;
    }
    
    &:hover {
      svg {
        transform: scale(1.05);
        color: rgb(253, 232, 179, 0.7);
      }
    }
  }
}