@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.sidebar {
  margin: 2rem;
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);

  .sidebar-items {
    display: flex;
    justify-content: space-between;

    .sidebar-item {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      margin: 0 1rem;
      padding: 0 1rem;
      
      a {
        color: $white;
      }

      svg {
        font-size: 4rem;
        padding: 1rem;
      }
      
      &:hover {
        svg {
          transform: scale(1.2);
          color: $yellow;
        }
      }
    }
  }
}