@import './variables.scss';

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin black-background($opacity) {
  background-color: rgba($white, $opacity);
}

@mixin black-border($opacity) {
  border: 1px solid rgba($white, $opacity);
}

@mixin black-box-shadow($opacity) {
  box-shadow: 2px 2px 2px rgba($black, $opacity);
}

